@{
    ViewData["Title"] = "Home Page";
}

<body class="welcome">

<div class="text-center">
    <h1 class="display-4">Bem vindo @ViewData["UserNAME"]</h1>
    <h2 class="display-6">Sistema de Gestão Imobiliária</h2>
</div>
</body>
